[submodule "Vendor/SimpleNFL"]
	path = Vendor/SimpleNFL
	url = https://github.com/ngawung/SimpleNFL
[submodule "Vendor/nds_nflib"]
	path = Vendor/nds_nflib
	url = https://github.com/ngawung/nds_nflib
[submodule "Vendor/STween"]
	path = Vendor/STween
	url = https://github.com/ngawung/STween
[submodule "Vendor/dbg-macro"]
	path = Vendor/dbg-macro
	url = https://github.com/ngawung/dbg-macro
